body	{
	background: url(https://images.unsplash.com/photo-1521354465180-c1ceac1d709a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64232dd88cd04a04d20b049b34daa029&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-position: center;
	font-family: Lato;
}
#content {
text-align: center;
padding: 25%;
}

h1, h3 {
	color: white;
}
